/* --- RESET ---- */

* {
    box-sizing: border-box;
  }
  body {
    margin: 0
  }
  img {
    display: block;
    width: 100%;
  }
  h1, h2, h3, h4, p, ul, li {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
  }
  button {
    border: none;
    background-color: transparent;
  }
  input {
    outline: 0;
  }